$black-1: black;
$black-2: #2a2d37;
$black-3: #323642;
$black-4: #272a33;

$white-1: white;
$white-2: #f4f4f4;
$white-3: #f9f9f9;
$white-4: #ececec;

$gray-1: #6b6e76;

$green-1: #51e5cb;
$pink-1: #d97378;
